{% extends 'Index.html' %}

{% block content %}

<div id="content">
    <!-- Заголовок -->
    <h1>ЛЕНТА</h1>
    <!-- Заголовок -->
    <!-- Область основного контента -->
    <p align="right">    Сегодня 23-12-2017</p>

    {% for item in items %}
    <hr>
    <p align="right">    Дата: {{ item.date }}</p>
    <h3>{{ item.article }}</h3>
    <p>{{ item.news }}</p>
    <p align="right">    Автор: {{ item.autor }}</p>
    <a href="/index/delete?id={{item.__id}}">
       Удалить
    </a>
    {% endfor %}
    <!-- Область основного контента -->
</div>

<div class="container">

</div>

{% endblock %}